*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-width: 100vh;
    background-color: #0d8bd4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculadora{
    background-color: rgb(148, 12, 211);
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 350px;
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
}
.pantalla{
    grid-column: 1/5;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 3rem;
    text-align: right;
    border-radius: 0.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

